link(rel="stylesheet",href="styles/app.css")
  
body#mail
  p(style='line-height: 14px;font-size: 12px;color: #CCCCCC;text-align:left;') 
    a(href='https://quadratik.fr')| Quadratik.fr 
    span(style='float:right;') 
      | Traitement acoustique de votre studio. 

  .container
    span.title Du changement pour votre studio !
    img.header(src='../public/images/mails/atelier.jpg', alt='Logo Quadratik.fr')

  .flex_c.w80.center
    h3 Nous avons bien reçu votre commande
    p(style='line-height: 14px;font-size: 12px;text-align:left;') 
      | L'acoustique d'un studio est un élément incontournable pour un espace dédié à la production sonore. Vous avez réalisé un choix essentiel à l'attention de vos oreilles!​
    button(style='margin-bottom: 10px').center
      | Suivre votre colis 
      
  .filter 
    i.fab.fa-accusoft
  
  
  .table
    ul
      li.table-header.center
        .col.w50.left Commande de Mr #{user.nom} #{user.prenom}
        .col.w50.left Livraison avec #{livraison.livr_service}
      li.table_row
        .col.w50.flex_c
          p Commande # #{paiement.transactionid}
          p Date #{paiement.date}
          p Total #{paiement.amount} €
        .col.w50.flex_c
          p #{livraison.livr_nom}
          p #{livraison.livr_adresse}
          p #{livraison.livr_postal} #{livraison.livr_ville}

  .table
    ul
      li.table-header.center
        .col.w30 Votre colis
        .col.w30 Quantité
        .col.w30 Sous total
        
      each val in cart
        li.table_row
          .col.w30.flex_r= val.name
          .col.w30.flex_r=val.quantite
          .col.w30.flex_r=val.sous_total + '€' 
  
  .flex_c.w80.center
    button(style='margin-bottom: 10px').center
      | Retrouver les détails en Boutique
          
  
p
|Nous préparons votre commande tout en restant à votre écoute. Besoin de conseils et recommandations? Partagez-nous vos attentes ou consulter notre 
a(href='https://quadratik.fr/guide') Guide!
p      
| Nous vous remercions pour votre confiance accordée à Quadratik.fr
br
| A bientôt !
br
| ​
br
| L'équipe de Quadratik.fr
p
  span(style='font-size: 8pt;')
    | Cet e-mail est un accusé de réception de votre commande et vaut confirmation du contrat d'achat.
