doctype 
html(lang="fr")
  head
    link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap', rel='stylesheet')
    style(type='text/css').
      body {
        font-size:7px;
        color: #1a1a1a;
        font-family: 'Roboto', sans-serif;
        line-height:12px;
        bgcolor: #f2f2f2;
      }
      .title {
        color: #00AB9C;
        font-size:15px;
        padding:0;
        text-align: center
      }

      ul {
        list-style-type: none;
      }

      .cadre {
      border : thin solid gray; 
      padding: 20px;
      height: 100%;
      }

      .left {
      text-align: left
      }
      .right {
      text-align: right
      }

      table {
      bgcolor : "grey"
      }
      
      td {
        height : 20px;
        padding: 10px;
        text-align: center
      }
      
      tr {
      text-align: center
      }

      th {
        background-color: #95A5A6;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        height: 20px;
      }
      
      .head {
        background-color: #3a4450 ;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        height: 20px;
        color: #f2f2f2;
      }

  body
    h1.title Facture #{data.devis.entreprise}

    h3(align='center') #{data.user.prenom} #{data.user.nom}

    table(cellspacing='0' cellpadding='0' border='0' width='100%')
      tr
        td.left
          |Entreprise
          ul.cadre
            li #{data.devis.entreprise}
            li #{data.devis.adresse}
            li #{data.devis.code_postal} #{data.devis.ville}
            li #{data.devis.pays}
            li #{data.devis.mail}
            li #{data.devis.telephone}
            li SIRET #{data.devis.siret}
        td(align='center')
          if data.devis.logo    
            img(alt='Logo Quadratik.fr' src='https://www.quadratik.fr/images/logo/logo_cercle.svg' width='100px')
        td.right
          |Client
          ul.cadre
            li #{data.user.nom} #{data.user.prenom}
            li #{data.user.adresse}
            li #{data.user.postal} #{data.user.ville}
            li #{data.user.mail}
            li #{data.user.telephone}
            li id #{data.user.id}
    
    table(cellspacing='0' cellpadding='0' border='0' width='100%')
      tr
        th.head Facture N° #{data.paiement.orderid} à regler avant le  #{data.paiement.expirationdate}
      tr
        td
          table(cellspacing='0' cellpadding='0' border='0' width='100%' bgcolor='#f2f2f2')
            tr
              th
                |Nom
              th
                |Quantité
              th
                |Prix
              th
                |Sous total

            each val in data.cart
              tr
                td= val.nom
                td= val.quantite
                td= val.prix
                td= val.sous_total
                
      if data.cart[0].reduction
        tr 
          td Reduction : #{data.cart[0].reduction} € 
      tr
        td.head TOTAL (TTC) : #{data.paiement.amount} €    

    p Moyen de paiement utilisé : #{data.paiement.method}
    
    p Escompte pour réglement anticipé de 0% - Pénalité en cas de retard de paiement: 1.5 fois le taux d'intéret légal - 
    
    p TVA non applicable, art. 293 B du CGI
